<html lang="en"><head></head><body><form id="mainForm" method="post" action="http://plnkr.co/edit/?p=preview" target="_self"><input type="hidden" name="files[app/app.component.ts]" value="import {Component} from 'angular2/core';
import {Hero} from './hero'

@Component({
  selector: 'my-app',
  template: `
  <h1>{{title}}</h1>
  <h2>My favorite hero is: {{myHero.name}}</h2>
  <p>Heroes:</p>
  <ul>
    <li *ngFor=&quot;#hero of heroes&quot;>
      {{ hero.name }}
      </li>
  </ul>
  <p *ngIf=&quot;heroes.length > 3&quot;>There are many heroes!</p>
`
})

export class AppComponent {
  title = 'Tour of Heroes';
  heroes = [
    new Hero(1, 'Windstorm'),
    new Hero(13, 'Bombasto'),
    new Hero(15, 'Magneta'),
    new Hero(20, 'Tornado')
  ];
  myHero = this.heroes[0];
}
"><input type="hidden" name="files[app/boot.ts]" value="import {bootstrap} from 'angular2/platform/browser';
import {AppComponent} from './app.component';

bootstrap(AppComponent);
"><input type="hidden" name="files[app/hero.ts]" value="export class Hero {
  constructor(
    public id:number,
    public name:string) { }
}
"><input type="hidden" name="files[index.html]" value="<!DOCTYPE html>
<html>

  <head>
    <title>Displaying Data</title>
    <script src=&quot;https://code.angularjs.org/2.0.0-beta.0/angular2-polyfills.js&quot;></script>
    <script src=&quot;https://code.angularjs.org/tools/system.js&quot;></script>
    <script src=&quot;https://code.angularjs.org/tools/typescript.js&quot;></script>
    <script src=&quot;https://code.angularjs.org/2.0.0-beta.0/Rx.js&quot;></script>
    <script src=&quot;https://code.angularjs.org/2.0.0-beta.0/angular2.dev.js&quot;></script>
    <script>
      System.config({
        transpiler: 'typescript', 
        typescriptOptions: { emitDecoratorMetadata: true }, 
        packages: {'app': {defaultExtension: 'ts'}} 
      });
      System.import('app/boot')
            .then(null, console.error.bind(console));
    </script>
  </head>

  <body>
    <my-app>loading...</my-app>
  </body>

</html>
"><input type="hidden" name="files[license.md]" value="Copyright 2010-2015 Google, Inc. http://angularjs.org

Licensed under the Apache License, Version 2.0 (the &quot;License&quot;);
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

   [http://www.apache.org/licenses/LICENSE-2.0](http://www.apache.org/licenses/LICENSE-2.0)

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an &quot;AS IS&quot; BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License."><input type="hidden" name="tags[0]" value="angular2"><input type="hidden" name="tags[1]" value="example"><input type="hidden" name="tags[2]" value="Template"><input type="hidden" name="private" value="true"><input type="hidden" name="description" value="Angular 2 Example - Displaying Data"></form><script>document.getElementById("mainForm").submit();</script></body></html>